@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
.banner{
	height: 123px;
	text-align: center;
}
.logo
{
    width:100px;
}
.navbar-brand
{
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 10PX;
}
.navbar
{
   padding: 1em 0 !important; 
}
.navbar-toggler
{
    border: none !important;
    outline: none !important;
}
.banner
{
    padding-left: 60px;
    padding-right: 60px;
}
.linksall{
	margin-top:30px;
	font-size: 25px;
	font-family: 'Rubik', sans-serif;
	font-weight: 800;	
}
.linkleft{
	margin-left: 20px;
}
.linkright{
	margin-right: 20px;
}
@media (max-width: 992px) {
  .link1{
    margin-top: 60px;	  
  }
	.navbar-brand{
    left:50%;	  
  }
	.linkleft{
	margin-left: 0px;
	}
.linkright{
	margin-right: 0px;
	}
}

/* Hover Effects */ 
.l1:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}
.l2:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}
.l3:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}
.l4:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}
.l5:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}
.l6:hover{
  transition: 0.4s;
  color: #56AB31 !important;
  border: #56AB31 solid 3px;
  background:#fff;
}